.win-appbar {
    position: fixed;
    bottom: -130px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FF6142;
    box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.button-group {
    display: flex;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.appbar-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appbar-btn:hover {
    background-color: #FFFFFF; /* Fondo blanco */
}

.appbar-btn:hover i {
    color: #FF6142; /* Cambia el color del SVG */
}
.button-container span {
    margin-top: 4px;
    color: white;
    font-size: 12px;
    text-align: center;
    width: 50px;
}
