#pomodoro {
    display: none;
}

#pomodoro #overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    display: none;
    z-index: 999;
}


#pomodoro .layer {
    position: absolute;
    width: 100%;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.1);
    margin-top: 15%;
    opacity: 0;
    padding: 2em;
    z-index: 1000;
}

#pomodoro .content {
    text-align: center;
    width: 50%;
    margin: auto;
}

    #pomodoro .content #status {
        text-align: left;
    }

    #pomodoro .content #time {
        font-size: 10em;
        margin: auto;
        line-height: 1em;
    }

    #pomodoro .content .buttons {
        float: right;
        margin-top: 40px;
        
       
    }

        #pomodoro .content .buttons #butHide {
            border-color: tomato;
            background-color: tomato;
        }

            #pomodoro .content .buttons #butHide:hover {
                background-color: #FF8A75;
                border-color: #FF4A2B;
            }

        #pomodoro .content .buttons #butCancel {
            border-color: gray;
            background-color: gray;
        }

            #pomodoro .content .buttons #butCancel:hover {
                background-color: lightgray;
                border-color: darkgray;
            }

        #pomodoro .content .buttons button {
            margin-left: 10px;
            font-size: 20px;
            border-radius: 10px;
            padding: 8px 50px; 
            border: 0;
        }


@media screen and (-ms-view-state: snapped) {
    #pomodoro #overlay {
   
    top:0;
   
}
    #pomodoro .layer {
        position: absolute;
        width: 320px;
        margin-top: 240px;
        padding-top:2em;
        padding-bottom:2em;
        padding-left:0;
        padding-right:0;
    }

    #pomodoro .content {
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        width: 280px;
    }

        #pomodoro .content #time {
            font-size: 6em;
            line-height: 1em;
            margin: auto;
        }

}
