@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

@font-face {
    font-family: 'PermanentMarker';
    src: url('/fonts/PermanentMarker-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #efefef;
}

#canvas {
    cursor: crosshair;
}

#apptitle {
    display: none;
}

.note {
    align-items: center;
    position: absolute;
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: auto;
    font-size: 1.45em;
    padding: 0.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4), inset 0 0 50px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
    font-family: 'Kalam', sans-serif;
    word-wrap: break-word;
    line-height: 1.25em;
}

.note-normal {
    height: 170px;
    width: 170px;
}

.note-small {
    height: 85px;
    width: 170px;
}

.selected {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

#newbuttons {
    position: absolute;
    margin-left: -25px;
    margin-top: 80px;
    z-index: 500;
}

#newbuttons .new-normal {
    width: 80px;
    height: 35px;
    margin-top: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4), inset 0 0 5px rgba(0, 0, 0, 0.1);
    transform: rotate(3deg);
}

#newbuttons .new-small {
    width: 70px;
    height: 25px;
    margin-top: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4), inset 0 0 5px rgba(0, 0, 0, 0.1);
    transform: rotate(3deg);
}

.help {
    width: 30em;
    text-align: left;
    height: 15em;
}

.help a {
    color: #fff;
}

.tomato { background-color: #FF6142; color: #fff; }
.yellow { background-color: #FEE100; color: #000; }
.blue { background-color: #00A3C2; color: #ddd; }
.rose { background-color: #EF3090; color: #000; }
.violet { background-color: #8F3A8D; color: #fff; }
.green { background-color: #B5CB42; color: #000; }
.orange { background-color: #FFA300; color: #000; }

#taskboard {
    position: absolute;
    z-index: -2;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    font-size: 2em;
    height: 100%;
    width: 100%;
}

#column1, #column2, #column3 {
    text-align: center;
    font-family: 'PermanentMarker', sans-serif;
}

@media (min-width: 300px) {

#column1, #column2, #column3 {
    font-size: 0.8em;
}

}

#column2 {
    border-right: solid 5px rgba(0, 0, 0, 0.2);
    border-left: solid 5px rgba(0, 0, 0, 0.2);
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
}

@media (min-width: 480px) {

    #column1, #column2, #column3 {
        font-size: 0.6em;
    }
    
    .note-normal {
        height: 80px;
        width: 80px;
    }
    
    .note-small {
        height: 40px;
        width: 80px;
    }
}

@media (min-width: 768px) {

    #column1, #column2, #column3 {
        font-size: 0.8em;
    }
    
    .note-normal {
        height: 100px;
        width: 100px;
    }
    
    .note-small {
        height: 50px;
        width: 100px;
    }
}

@media (min-width: 1024px) {

    #column1, #column2, #column3 {
        font-size: 1em;
    }

    .note-normal {
        height: 170px;
        width: 170px;
    }
    
    .note-small {
        height: 85px;
        width: 170px;
    }
    
}

@media (min-width: 1200px) {

    #column1, #column2, #column3 {
        font-size: 1.2em;
    }
    
    .note-normal {
        height: 170px;
        width: 170px;
    }
    
    .note-small {
        height: 85px;
        width: 170px;
    }
}
