@font-face {
    font-family: 'Kalam'; 
    src: url('/fonts/Kalam-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PermanentMarker'; 
    src: url('/fonts/PermanentMarker-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #efefef;
}

#canvas {
    cursor: crosshair;
}

#apptitle {
    display: none;
}

.note {
    align-items: center;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: auto;
    font-size: 1.45em;
    padding: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4), inset 0 0 50px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
    font-family: 'Kalam', sans-serif;
    word-wrap: break-word;
    line-height: 1.25em;
    text-decoration: none;
}

.note p {
    margin: 0;
    height: 100%;
    padding: 0.5em;
    max-height: 170px;
}

*[contenteditable="true"]:focus {
    outline: none;
    border: none;
}


.note-corner-right {
    border-bottom-right-radius: 60px 5px;

}

.note-corner-left {
    border-bottom-left-radius: 60px 5px;
}

.dot {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 15px;
    display: block;
    position: absolute;
}

.dots {
    display: flex;
    bottom: 10px;
    right: 10px;
    position: absolute;
    gap: 3px;
}

.dot-internal {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 15px;
}

.red-indicator {
    color:#FF6142;
}

.note-normal {
    height: 170px;
    width: 170px;
}

.note-small {
    height: 85px;
    width: 170px;
}

.note-help {
    width: 30em;
    text-align: left;
    height: 15em;
}

.note-help a {
    color: #fff;
}

/*
.selected {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
*/

#newbuttons {
    position: absolute;
    margin-left: -25px;
    margin-top: 50px;
    z-index: 0;
}

#newbuttons .new-normal {
    width: 80px;
    height: 35px;
    margin-top: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4), inset 0 0 5px rgba(0, 0, 0, 0.1);
    transform: rotate(3deg);
}

#newbuttons .new-small {
    width: 70px;
    height: 25px;
    margin-top: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4), inset 0 0 5px rgba(0, 0, 0, 0.1);
    transform: rotate(3deg);
}

#newbuttons .new-dot {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4), inset 0 0 5px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

.tomato { background-color: #FF6142; color: #fff; }

/* bright */
.yellow { background-color: #fef639; color: #000; }
.blue { background-color: #34afd8; color: #00c; }
.rose { background-color: #fd4289; color: #fff; }
.violet { background-color: #cf7aef; color: #fff; }
.green { background-color: #bdda1e; color: #000; }
.orange { background-color: #ffca20; color: #000; }
.red { background-color: red; }

/* pastel */
.pyellow { background-color: #fcdd00; color: #00c; }
.pblue { background-color: #10c4e3; color: #00c; }
.prose { background-color: #ff639a; color: #fff; }
.pviolet { background-color: #c55ae2; color: #fff; }
.pgreen { background-color: #0fd572; color: #00c; }
.porange { background-color: #ff771c; color: #00c; }

#taskboard {
    position: absolute;
    z-index: -2;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    font-size: 2em;
    height: 100%;
    width: 100%;
    user-select: none;
}

.stage {
    text-align: center;
    font-family: 'PermanentMarker', sans-serif;
}

.stage-border {
    border-right: solid 5px rgba(0, 0, 0, 0.2);
    border-left: solid 5px rgba(0, 0, 0, 0.2);
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
}

#dashboard-alert {
    display: none; 
    position: fixed;
    text-align: center;
    width: 1.2em;
    height: 1.2em;
    bottom: 5%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 5em; 
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff; 
    padding: 0.35em; 
    border-radius: 20px; 
    z-index: 1000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

@media (min-width: 300px) {

    .stage {
        font-size: 0.4em;
    }
    
    .note-normal {
        height: 60px;
        width: 60px;
    }
    
    .note-small {
        height: 30px;
        width: 60px;
    }

    .note {
        font-size: 0.6em;
    }

    .new-normal {
        display: none;
    }

}

@media (min-width: 480px) {

    .stage {
        font-size: 0.6em;
    }
    
    .note-normal {
        height: 80px;
        width: 80px;
    }
    
    .note-small {
        height: 40px;
        width: 80px;
    }

    .note {
        font-size: 0.8em;
    }
}


@media (min-width: 768px) {

    .stage {
        font-size: 0.8em;
    }
    
    .note-normal {
        height: 110px;
        width: 110px;
        
    }
    
    .note-small {
        height: 55px;
        width: 110px;
    }

    .note {
        font-size: 0.9em;
    }


}

@media (min-width: 1024px) {

    .stage {
        font-size: 1em;
    }
    .note-normal {
        height: 150px;
        width: 150px;
    }
    
    .note-small {
        height: 85px;
        width: 170px;
    }

    .note {
        font-size: 1.45em;
    }

    .new-normal {
        display: block;
    }
    
}

@media (min-width: 1200px) {

    #column1, #column2, #column3 {
        font-size: 1.2em;
    }
    
    .note-normal {
        height: 170px;
        width: 170px;
    }
    
    .note-small {
        height: 85px;
        width: 170px;
    }

    .note {
        font-size: 1.75em;
    }
}