.hamburger-icon {
    position: fixed;
    left: 0.5rem;
    top: 0.5rem;
    z-index: 2001;
}

.hamburger-icon button {
    background: #fff;
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    color: black;
    cursor: pointer;
    border: 1px solid #ccc;
}

.hamburger-icon button:active {
    border: 1px solid tomato;
}

.hamburger-menu {
    position: fixed;
    left: 0.5rem;
    top: 3rem;
    width: 20rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #ccc;
    transform: translateX(-110%);
    transition: transform 0.3s ease;
    z-index: 2000;
    overflow-x: scroll;
    cursor:default;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.hamburger-menu h1 {
    padding: 0;
    font-family: "PermanentMarker";
    margin: 0;
    text-align: center;
    margin-top: 0;
}

.accent1 {
   color: green;
}

.accent2 {
    color: blue;
 }

.hamburger-menu h2 {
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 0.6rem;
    line-height: 0.6em;
}

.hamburger-menu.active {
    transform: translateX(0);
}

.menu-content {
    padding: 1.5em;
}

.toolbox-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 25px;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 25px;
}

.tool {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    gap: 0.250px;
    padding-top: 0.5rem;
    background: #f0f0f0;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 45px;
}

.dash {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    padding: 5px;
    background: #f0f0f0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 35px;
    border-radius: 50%;
}

.dash.active {
    background-color: #ccc;
    color: white;
}

.tool:hover, .dash:hover {
    background-color: #ccc;
    color: white;
    transition: all 0.3s;
}

.tool i {
    display: block;
    font-size: 1.2em;
    margin-bottom: 3px;
}

.tool span {
    display: block;
    font-size: 12px;
}

.dash[data-action="black"] i { color: black; }
.dash[data-action="blue"] i { color: blue; }
.dash[data-action="red"] i { color: red; }
.dash[data-action="green"] i { color: green; }
.dash[data-action="eraser"] i { color: black; }

.license {
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-align: center;
    font-size: 1em;

}

.license .button {
    border: 1px solid #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 0.8em;
    display: block;
    color:#000;
}