#pomodoro {
    display: none;
}

#pomodoro #overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    display: none;
    z-index: 999;
}

#pomodoro .layer {
    position: absolute;
    width: 100%;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.1);
    opacity: 0;
    padding: 0;
    margin-top: 8em;
    z-index: 1000;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

#pomodoro .content {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 3vw;
}

#pomodoro .content h2 {
    margin: 0;
}

#pomodoro .content #status {
    text-align: center;
    font-family: "PermanentMarker" ;
    font-size: 3vw;
    color:tomato;
}

#pomodoro .content #time {
    font-size: 10vw;
    margin: auto;
    line-height: 10vw;
    color: gray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#pomodoro .content .buttons {
    margin-top: 1vw;
  
}

#pomodoro .content .buttons #butHide {
    border-color: greenyellow;
    background-color: green;
}

#pomodoro .content .buttons #butHide:hover {
    background-color: greenyellow;
    border-color:green;
}

#pomodoro .content .buttons #butCancel {
    border-color: gray;
    background-color: gray;
}

#pomodoro .content .buttons #butCancel:hover {
    background-color: lightgray;
    border-color: darkgray;
}

#pomodoro .content .buttons button {
    margin-left: 1vw;
    font-size: 1em;
    border-radius: 0.5vw;
    padding: 1vw 3vw; 
    border: 0;
}

