@font-face {
    font-family: 'Kalam'; 
    src: url('/fonts/Kalam-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PermanentMarker'; 
    src: url('/fonts/PermanentMarker-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #efefef;
    font-size: 16px;
}

#canvas {
    cursor: crosshair;
}

#apptitle {
    display: none;
}

.note {
    align-items: center;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4), inset 0 0 50px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
    font-family: 'Kalam', sans-serif;
    word-wrap: break-word;
    text-decoration: none;
    display: block;
}

.note p {
    display: inline-block;
    margin: 0;
    padding: 0.35em;
    height: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.note-corner-right {
    border-bottom-right-radius: 60px 5px;
}

.note-corner-left {
    border-bottom-left-radius: 60px 5px;
}

.dot {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 15px;
    display: block;
    position: absolute;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4), inset 0 0 50px rgba(0, 0, 0, 0.1);

}

.dots {
    display: flex;
    bottom: 5px;
    right: 5px;
    position: absolute;
    gap: 3px;
}

.dot-internal {
    background-color: red;
    border-radius: 15px;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.2);
}

.red-indicator {
    color:#FF6142;
}

.note-normal {
    height: 170px;
    max-height: 170px;
    width: 170px;
}

.note-small {
    max-height: 85px;
    height: 85px;
    width: 170px;
}

.note-help {
    width: 55em;
    text-align: left;
    height: 30em;
    max-height: 30em;
    
}

.note-help a {
    color: #fff;
}

#newbuttons {
    position: absolute;
    margin-left: -5px;
    margin-top: 80px;
    z-index: 0;
}

#newbuttons .new-normal {
    width: 45px;
    height: 32px;
    margin-top: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4), inset 0 0 5px rgba(0, 0, 0, 0.1);
    transform: rotate(3deg);
}

#newbuttons .new-small {
    width: 35px;
    height: 25px;
    margin-top: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4), inset 0 0 5px rgba(0, 0, 0, 0.1);
    transform: rotate(3deg);
}

#newbuttons .new-dot {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    
    border-radius: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4), inset 0 0 5px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}

.tomato { background-color: #FF6142; color: #fff; }

/* bright */
.yellow { background-color: #fef639; color: #000; }
.blue { background-color: #34afd8; color: #00c; }
.rose { background-color: #fd4289; color: #fff; }
.violet { background-color: #cf7aef; color: #fff; }
.green { background-color: #bdda1e; color: #000; }
.orange { background-color: #ffca20; color: #000; }
.red { background-color: red; }

/* pastel */
.pyellow { background-color: #fcdd00; color: #00c; }
.pblue { background-color: #10c4e3; color: #00c; }
.prose { background-color: #ff639a; color: #fff; }
.pviolet { background-color: #c55ae2; color: #fff; }
.pgreen { background-color: #0fd572; color: #00c; }
.porange { background-color: #ff771c; color: #00c; }

#taskboard {
    position: absolute;
    z-index: -2;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    font-size: 2em;
    height: 100%;
    width: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.stage {
    text-align: center;
    font-family: 'PermanentMarker', sans-serif;
}

.stage-border {
    border-right: solid 5px rgba(0, 0, 0, 0.2);
    border-left: solid 5px rgba(0, 0, 0, 0.2);
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
}

#dashboard-alert {
    display: none; 
    position: fixed;
    text-align: center;
    width: 1.2em;
    height: 1.2em;
    bottom: 5%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 5em; 
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff; 
    padding: 0.35em; 
    border-radius: 20px; 
    z-index: 1000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

#statusbar {
    font-size: 0.6em;
    bottom: 10px;
    right: 10px;
    position: absolute;
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE/Edge */
    user-select: none;   
}

@media (min-width: 300px) {

    .stage {
        font-size: 0.4em;
    }
    
    .note-normal {
        height: 60px;
        width: 60px;
    }
    
    .note-small {
        height: 30px;
        width: 60px;
    }

    .note {
        font-size: 0.6em;
    }

    .new-normal {
        display: none;
    }

    .dot-internal, .dot {
        width: 10px;
        height: 10px;
       
    }

}

@media (min-width: 480px) {

    .stage {
        font-size: 0.6em;
    }
    
    .note-normal {
        height: 80px;
        width: 80px;
    }
    
    .note-small {
        height: 35px;
        width: 80px;
    }

    .note {
        font-size: 0.75em;
        line-height: 1.15em;
        padding: 0;
    }

    .dot-internal, .dot {
        width: 15px;
        height: 15px;
    }
    
}


@media (min-width: 768px) {

    .stage {
        font-size: 0.8em;
    }
    
    .note-normal {
        height: 110px;
        width: 110px;
        
    }
    
    .note-small {
        height: 55px;
        width: 110px;
    }

    .note p {
        font-size: 1.30em;
        line-height: 1em;
    }

    .dot-internal, .dot {
        width: 20px;
        height: 20px;
    }

}

@media (min-width: 1024px) {

    #column1, #column2, #column3 {
        font-size: 1.1em;
    }
    
    .note-normal {
        height: 145px;
        width: 145px;
    }
    
    .note-small {
        height: 68px;
        width: 145px;
    }

    .note p {
        font-size: 1.7em;
        line-height: 1.10em;
    }

    .dot-internal, .dot {
        width: 25px;
        height: 25px;
    }
    
    .new-normal {
        display: block;
    }
}

@media (min-width: 1200px) {

    #column1, #column2, #column3 {
        font-size: 1.2em;
    }
    
    .note-normal {
        height: 170px;
        width: 170px;
    }
    
    .note-small {
        height: 80px;
        width: 170px;
    }

    .note p {
        font-size: 2em;
        line-height: 1.15em;
    }

    .dot-internal, .dot {
        width: 30px;
        height: 30px;
    }
}