.hamburger-icon {
    position: fixed;
    left: 0.5rem;
    top: 0.5rem;
    z-index: 2001;
}

.hamburger-icon button {
    background: #fff;
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    color: black;
    cursor: pointer;
    border: 1px solid #ccc;
}

.hamburger-icon button:active {
    border: 1px solid var(--accent-color);
}

.hamburger-menu {
    position: fixed;
    left: 0.5rem;
    top: 3rem;
    width: 20rem;
    height: calc(100% - 3.5rem);
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #ccc;
    z-index: 2000;
    overflow-x: scroll;
    cursor:default;
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none; 
    display: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 0 0 100px rgba(64, 64, 64, 0.15);
}

.hamburger-menu h1 {
    padding: 0;
    font-family: "PermanentMarker";
    margin: 0;
    text-align: center;
    margin-top: 0;
}

.accent1 {
   color: var(--accent-color);
}

.hamburger-menu h2 {
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 0.8rem;
    line-height: 0.4em;
}

.hamburger-menu.active {
    transform: translateX(0);
    display: block;
}

.menu-content {
    padding: 1rem;
}

.toolbox-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0;
    margin-bottom: 0.5rem;
   
}

.dashboard-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0;
    margin-bottom: 1.5rem;
    border-radius: 0.6rem;
    border: 1px solid #ccc;
    background-color: #fff;
}

.tool {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    gap: 0;
    padding-top: 3px;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 3rem;
}

.dash {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    padding: 5px;
    text-align: center;
    gap: 0;
    cursor: pointer;
    font-family: "PermanentMarker", sans-serif;
    height: 35px;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.dash.active {
    background-color: var(--accent-color);
    color: white;
}

.tool:hover, .dash:hover {
    background-color: var(--accent-light-color);
    color: var(--accent-color);
    transition: all 0.2s;
}

.tool i {
    display: block;
    font-size: 1.2em;
    margin-bottom: 3px;
}

.tool span {
    display: block;
    font-size: 12px;
}

.tool[data-action="black"] i { color: black; }
.tool[data-action="blue"] i { color: #0047bb; }
.tool[data-action="red"] i { color: #ef3340; }
.tool[data-action="green"] i { color: #00a651; }
.tool[data-action="eraser"] i { color: black; }

.sharing-dashboard button {
    width: 100%;
    margin-bottom: 1.5rem;
    height: 3rem;
    font-family: "PermanentMarker", sans-serif;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

.sharing-dashboard button i {
    font-size: 1.25rem;
    vertical-align: middle;
}

.menuitemlist button {
    width: 100%;
    margin-bottom: 1rem;
    height: 2rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

.menuitemlist button i {
    font-size: 0.8rem;
    vertical-align: middle;
}

/* Modal */

/* Modal Backdrop Styles */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3000;
}

/* Modal Styles */
.modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
    position: fixed;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.modal p {
    font-size: 0.8rem;
}

/* Close Button Style */
.close-button {
    float: right;
    cursor: pointer;

}

/* Input Group Styles */
.input-group {
    display: flex;
    margin-top: 20px;
}

.input-group input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group button {
    cursor: pointer;
    width: 3rem;
    font-size: 1rem;
    background-color: #eee;
    border: solid 1px #aaa;
}