// Definición de variables para colores, fuentes y otros valores reutilizables
$background-overlay: rgba(0, 0, 0, 0.2);
$background-layer: #fff;
$text-color: tomato;
$font-family-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family-special: 'PermanentMarker';
$shadow-base: 0 0 5px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.1);
$accent-color: var(--accent-color); // Asume que esta variable está definida en otro lugar
$accent-light-color: var(--accent-light-color);
$gray: gray;
$lightgray: lightgray;
$darkgray: darkgray;

// Mixin para los estados de botones para reutilizar en diferentes botones
@mixin button-states($bg-color, $border-color, $hover-bg-color, $hover-border-color) {
  border-color: $border-color;
  background-color: $bg-color;
  
  &:hover {
    background-color: $hover-bg-color;
    border-color: $hover-border-color;
  }
}

#pomodoro {
  display: none;

  #overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $background-overlay;
    display: none;
    z-index: 999;
  }

  .layer {
    position: absolute;
    width: 100%;
    background-color: $background-layer;
    text-align: center;
    box-shadow: $shadow-base;
    opacity: 1;
    padding: 0;
    margin-top: 8em;
    z-index: 1000;
    user-select: none;
    cursor: default;
  }

  .content {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 3vw;

    h2 {
      margin: 0;
    }

    #status {
      text-align: center;
      font-family: $font-family-special;
      font-size: 3vw;
      color: $text-color;
    }

    #time {
      font-size: 10vw;
      margin: auto;
      line-height: 10vw;
      color: $gray;
      font-family: $font-family-base;
    }

    .buttons {
      margin-top: 1vw;

      button {
        margin-left: 1vw;
        font-size: 1em;
        border-radius: 0.5vw;
        padding: 1vw 3vw; 
        border: 0;

        // Aplicando mixin para estados de botones
        &#butHide {
          @include button-states($accent-color, $accent-light-color, $accent-light-color, $accent-color);
        }

        &#butCancel {
          @include button-states($gray, $gray, $lightgray, $darkgray);
        }
      }
    }
  }
}
