:root {
    --accent-color:#00a651;
    --accent-light-color:#80ff80;
}

@font-face {
    font-family: 'Kalam'; 
    src: url('../assets/fonts/Kalam-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PermanentMarker'; 
    src: url('../assets/fonts/PermanentMarker-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #efefef;
    font-size: 16px;
    touch-action: none;
}

.note {
    align-items: center;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4), inset 0 0 50px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
    font-family: 'Kalam', sans-serif;
    word-wrap: break-word;
    text-decoration: none;
    display: block;
}

.note p {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.note-corner-right {
    border-bottom-right-radius: 60px 5px;
}

.note-corner-left {
    border-bottom-left-radius: 60px 5px;
}

.dot {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 15px;
    display: block;
    position: absolute;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4), inset 0 0 50px rgba(0, 0, 0, 0.1);

}

.dots {
    display: flex;
    bottom: 5px;
    right: 5px;
    position: absolute;
    gap: 3px;
}

.dot-internal {
    background-color: red;
    border-radius: 15px;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.2);
}

.red-indicator {
    color:#FF6142;
}

.note-normal {
    height: 170px;
    max-height: 170px;
    width: 170px;
}

.note-small {
    max-height: 85px;
    height: 85px;
    width: 170px;
}

.note-help {
    width: 55em;
    text-align: left;
    height: 30em;
    max-height: 30em;
    
}

.note-help a {
    color: #fff;
}

#newbuttons {
    position: fixed;
    margin-left: -5px;
    margin-top: 80px;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
}

#newbuttons .new-normal {
    width: 45px;
    height: 32px;
    margin-top: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4), inset 0 0 5px rgba(0, 0, 0, 0.1);
    transform: rotate(3deg);
}

#newbuttons .new-small {
    width: 35px;
    height: 25px;
    margin-top: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4), inset 0 0 5px rgba(0, 0, 0, 0.1);
    transform: rotate(3deg);
}

#newbuttons .new-dot {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    
    border-radius: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4), inset 0 0 5px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}

.tomato { background-color: #FF6142; color: #fff; }

/* bright */
.yellow { background-color: #fef639; color: #000; }
.blue { background-color: #34afd8; color: #00c; }
.rose { background-color: #fd4289; color: #fff; }
.violet { background-color: #cf7aef; color: #fff; }
.green { background-color: #bdda1e; color: #000; }
.orange { background-color: #ffca20; color: #000; }
.red { background-color: red; }

/* pastel */
.pyellow { background-color: #fcdd00; color: #00c; }
.pblue { background-color: #10c4e3; color: #00c; }
.prose { background-color: #ff639a; color: #fff; }
.pviolet { background-color: #c55ae2; color: #fff; }
.pgreen { background-color: #0fd572; color: #00c; }
.porange { background-color: #ff771c; color: #00c; }

#wrapper {
    overflow: hidden;
}

#canvas {
    z-index: 0;
}




#dashboard-notification {
    display: none; 
    position: fixed;
    text-align: center;
    max-width: 90%;
    bottom: 5%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 2rem; 
    
    font-family: "Poppins", sans-serif;
    background: #fff;
    padding: 1rem 4rem;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
   
    border-radius: 15px;
    z-index: 5000;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}

#dashboard-notification.small   {
    font-size: 1rem; 
}

#dashboard-number {
    display: none; 
    position: fixed;
    text-align: center;
    width: 1.2em;
    height: 1.2em;
    bottom: 5%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 5em; 
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff; 
    padding: 0.35em; 
    border-radius: 20px; 
    z-index: 1000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

#statusbar {
    font-size: 1.125rem;
    bottom: 0.5rem;
    right: 1rem;
    position: absolute;
    z-index: 1000;
    -webkit-user-select: none; 
    -moz-user-select: none;   
    user-select: none;
    color: gray;
}

#statusbar a {
    color: gray;
}

#statusbar a:hover {
    color: var(--accent-color);
}

#dialog-confirm {
    display: none;
}

@media screen and (max-width: 600px) {
    #statusbar {
        display: none;
    }
}